<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddelivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.NotificationDetailActivity" />
        <activity android:name=".activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.AvailableVoucherActivity" />
        <activity android:name=".activity.VerifyPhoneActivity" />
        <activity android:name=".activity.PaymentMethodActivity" />
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.login.SignUpActivity_1" />
        <activity android:name=".activity.login.SignUpActivity_2" />
        <activity android:name=".activity.login.ForgotPassActivity_1" />
        <activity android:name=".activity.login.ForgotPassActivity_2" />
        <activity android:name=".activity.login.ForgotPassActivity_3" />
        <activity android:name=".activity.login.ForgotPassActivity_4" />
        <activity android:name=".activity.login.ForgotPassActitivy_5" />
        <activity android:name=".activity.me.SettingActivity" />
        <activity android:name=".activity.me.VoucherActivity" />
        <activity android:name=".activity.me.LanguageSetting" />
        <activity android:name=".activity.main.CartActivity" />
        <activity android:name=".activity.me.FeedbackActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.main.SearchingActivity" />
        <activity android:name=".activity.main.DrinkSectionActivity" />
        <activity android:name=".activity.main.FavouriteSectionActivity" />
        <activity android:name=".activity.main.WatchedSectionActivity" />
        <activity android:name=".activity.main.FoodSectionActivity" />
        <activity android:name=".activity.MerchantActivity" />
        <activity
            android:name=".activity.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBBrmihhx3C-3kE47pd5ysOH6SUy5BVSFc" />
    </application>

</manifest>